/*<editor-fold desc="Frontpage">*/
#frontpage {
  z-index: 3;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  --character-ratio: 0.951827243;
  --intro-to-char-ration: 1.629568106;

  --intro-width: 80vw;
  --character-width: calc(var(--intro-width) * 0.9);
  --character-height: calc(var(--character-width) * var(--character-ratio));
}
#drop-top,
#drop-self-wrapper,
#drop-splatter,
#drop-background {
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 1024px) {
  #frontpage {
    --intro-width: 70vw;
  }
}
@media screen and (min-width: 1200px) {
  #frontpage {
    --intro-width: 60vw;
  }
}
#intro {
  z-index: 2;
  top: 0;
  margin-bottom: calc(var(--intro-width)/-4.364);
  width: var(--intro-width);
  opacity: 0;
  transition: opacity .3s linear;
}
#frontpage .section-character {
  left: 1.3vw;
  margin-left: auto;
  margin-right: auto;
  position: relative !important;
  top: 0;

  height: var(--character-height);
  width: var(--character-width);
  max-height: 64vh;
}
#mouth-end {
  opacity: 0
}
#smile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
body[current-section="frontpage"] > nav {
  z-index: 9;
}
body[current-section="frontpage"] > footer {
  z-index: 8;
}
body[current-section="frontpage"] > nav a {
  font-weight: 900;
  opacity: 1;
}
#frontpage .body-contour {
  width: 100%;
}
#frontpage .body-bg {
  background-position: center center;
}

.no-webp section#frontpage .body-bg {
  background-image: url('../img/frontpage-transition-mobile.png');
}
@media screen and (min-width: 321px) {
  .no-webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .no-webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .no-webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .no-webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition-large.png'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  .no-webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition-large@2x.png'); }
}

.webp section#frontpage .body-bg {
  background-image: url('../img/frontpage-transition-mobile.webp');
}
@media screen and (min-width: 321px) {
  .webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition-mobile@2x.webp'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition-tablet.webp'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition.webp'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition-large.webp'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  .webp section#frontpage .body-bg { background-image: url('../img/frontpage-transition-large@2x.webp'); }
}
/*</editor-fold>*/

/*<editor-fold desc="DNT"*/
#dnt-wrapper {
  width: 20vw;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transition: opacity .2s linear;
}
body[ready] #dnt-wrapper {
  opacity: 1;
}
#dnt-wrapper:before {
  content: "";
  display: block;
  position:absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 3vw solid transparent;
  border-left: 8vw solid #FA3D85;
}
#dnt-wrapper a {
  background: #FA3D85;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 0 .3em;
}
#dnt-wrapper p {
  margin: 0;
  padding: 1vw;
  line-height: 1.3;
}
#dnt-wrapper h1 {
  white-space: nowrap;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 2;

  transform: translate(-10vw, 0) rotate(-45deg);
  transform-origin: center top;
}
#dnt-wrapper h1:hover {
  cursor: pointer;
}
#dnt-wrapper h1 > span {
  display: block;
  position:relative;
  z-index: 2;
  background: #FA3D85;
  padding: 4vw 1vw 1vw;
}
#dnt-content {
  opacity: 0;
  position:relative;
  z-index: 1;
  transform: translateY(-100%);
  padding: 0 0 1em;
  background: #0F53ED;
}
#dnt-wrapper button {
  border: 2px solid #FFE01B;
  background: transparent;
  text-transform: uppercase;
  color: #FFE01B;
  font-weight: bold;
  padding:1vw;
  margin: 1vw;
  width: calc(100% - 2vw);
  box-sizing: border-box;
}
#dnt-wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding: 2vw 0 1vw;
  margin-bottom: 0
}
#dnt-wrapper a#reset {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 4px;
  line-height: 1;
  font-size: 24px;
  font-weight: normal;
  border-radius: 0 50% 50% 0;
  background: #FA3D85;
}
/*</editor-fold>*/

/*<editor-fold desc="Intro Drop"*/
#drop {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}
#drop > svg {
  overflow: visible;
}
#drop circle {
  opacity: 0;
  visibility: hidden;
}
/*</editor-fold>*/
