<section id="dnt-wrapper">
  <h1>
    <span><span class="text-replace">DNT</span> Aware</span>
    <a href="#" id="reset">×</a>
  </h1>
  <div id="dnt-content">
    <h2>Thank you!</h2>
    <p>It seems like you've enabled <a href="https://en.wikipedia.org/wiki/Do_Not_Track" target="_blank" rel="noopener">"Do Not Track"</a> setting in your browser. Thank you for caring about your privacy online. I do it myself and hence you won't be tracked here at all. <strong>Feel safe</strong>.</p>
    <p>But if you ever decide to allow me to use Google Analytics in regards to your visits on this site, it would be very much appreciated and help me make this site better.</p>
    <button id="enable-analytics">Allow Google Analytics</button>
  </div>
</section>
